    body {
      padding: 20px;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #EFEFEF;
    }

    .video-box {
      width: 100%;
      max-width: 1000px;
      position: relative;
      padding-bottom: 56.25%;
      margin-bottom: 25px;
      border-radius: 16px;
      overflow: hidden;
    }

    .video-box iframe {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 16px;
    }
